In [1]:
import pandas as pd
df = pd.read_csv('/Users/bhattbruh/Desktop/ml-playground/data/heights.csv')
df.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [4]:
max_threshold = df['height'].quantile(0.95)
max_threshold

np.float64(9.689999999999998)

In [5]:
df[df['height']>max_threshold]

    name  height
9  imran    14.5

In [6]:
min_threshold = df['height'].quantile(0.05)
min_threshold

np.float64(3.6050000000000004)

In [7]:
df[df['height']<min_threshold]

      name  height
12  yoseph     1.2

In [8]:
df[(df['height']<max_threshold) & (df['height']>min_threshold)]

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5